body{
    display: flex;
    justify-content: center;
}
form{
    padding: 20px;
    display: flex;
    flex-direction: column;
}
form  > *{
    margin: 10px 0;
}

input[type="submit"]{
    padding: 5px 50px;
    width: 100%;
    background-color: aqua;
}

p::after{
    content: "*";
    color: red;
}
input[type="submit"]:hover{
   color: white;
    background-color: black;
}